<!-- src/main/resources/templates/fragments/nav.html -->
<div class="main-nav-wrapper" xmlns:sec="http://www.w3.org/1999/xhtml">
  <nav th:fragment="mainNav" class="main-nav">
    <div class="nav-logo">
      <a th:href="@{/encheres}">
        <img th:src="@{/images/logoENI.png}" alt="Logo du site" />
      </a>
    </div>

    <ul class="nav-list">
      <li><a th:href="@{/}" class="nav-link">Accueil</a></li>

      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/vente/mes-ventes}" class="nav-link">Mes ventes</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/vente/mes-encheres}" class="nav-link">Mes enchères</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/vente/creation}" class="nav-link">Créer une vente</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/utilisateur/modifier}" class="nav-link">Profil</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post" class="logout-form">
          <button type="submit" class="btn-logout">Se déconnecter</button>
        </form>
      </li>
      <li sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}" class="nav-link">Se connecter</a>
      </li>
    </ul>
  </nav>
</div>
