<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css" />
<head>
<head>
  <meta charset="UTF-8">
  <title>Connexion</title>
</head>
<body>

<form th:action="@{/login}" method="post">
  
  <input type="text" name="pseudo" placeholder="Login" required />
  
  <input type="password" name="password" placeholder="Mot de passe" required />
  
  <div>
    <input type="checkbox" id="remember-me" name="remember-me" />
    <label for="remember-me">Se souvenir de moi</label>
  </div>

  <button type="submit">Connexion</button>
  
  <div style="margin-top:10px;">
    <a th:href="@{/mot-de-passe-oublie}">Mot de passe oublié ?</a>
  </div>
  
  <div style="margin-top:20px;">
    <a th:href="@{/utilisateur/creer}" 
       style="padding:10px 20px; background-color:#007bff; color:white; text-decoration:none; border-radius:5px;">
      Créer un compte
    </a>
  </div>
  
  <div>
    <p th:if="${param.error}" style="color:red;">
      Login ou mot de passe incorrect
    </p>
  </div>
  
</form>

</body>
</html>
