<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	
>

<head>
<title>Vendre Article</title>

</head>

<body>
	<main>
	
		<th:block data-th-if="${!modeModif}"><h1>Nouvelle Vente</h1></th:block>
		<th:block data-th-if="${modeModif}"><h1>Modification de la  Vente</h1></th:block>
		
		<form id="creer-vente-form" class="form" th:object="${articleAVendre}" data-th-action="@{${vente/creaction}}" method="post">
		
		<input type="hidden" data-th-field="*{id}">

			<div id="bloc">
				<div id="bloc1">
					<div id="tag">
						<label for="inputNomArticle" data-th-text="#{view-vente-article.label.article}"></label>
						<input type="text" id="inputNomArticle" data-th-field="*{nomArticle}" required />
						<ul data-th-if="${#fields.hasErrors('nomArticle')}" class="listErrors">
							<li th:each="err : ${#fields.errors('nomArticle')}" th:text="${err}"></li>
						</ul>
					</div>
			<div>
				<li>
					<label>Rôle :</label> 
					<select data-th-field="*{categorie.idCategorie}"required>
						<option th:each="categorie : ${categorie}" th:value="${categorie.idCategorie}"th:text="${categorie.libelle}"></option>
					</select>
						<p class="error-message"th:if="${#fields.hasErrors('categorie.idCategorie')}"th:errors="*{categorie.idCategorie}"></p>
 				</li>
 			</div>
					<div id="tag">
						<label for="inputDescription" data-th-text="#{view-vente-article.label.description}"></label>
						<textarea id="inputDescription" th:field="*{description}" required></textarea>
						<ul data-th-if="${#fields.hasErrors('description')}" class="listErrors">
							<li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
						</ul>
					</div>
				</div>

				<div id="bloc2">
					<div id="tag">
						<label for="inputMiseAPrix" data-th-text="#{view-vente-article.label.miseAPrix}"></label>
						<input type="number" id="inputMiseAPrix" data-th-field="*{miseAPrix}" required />
						<ul data-th-if="${#fields.hasErrors('miseAPrix')}" class="listErrors">
							<li th:each="err : ${#fields.errors('miseAPrix')}" th:text="${err}"></li>
						</ul>
					</div>

					<div id="tag">
						<label for="inputDateDebutEncheres" data-th-text="#{view-vente-article.label.dateDebutEncheres}"></label>
						<input type="date" id="inputDateDebutEncheres" name="dateDebutEncheres"
							th:value="${articleAVendre.dateDebutEncheres}" required/>
							<ul data-th-if="${#fields.hasErrors('dateDebutEncheres')}" class="listErrors">
								<li th:each="err : ${#fields.errors('dateDebutEncheres')}" th:text="${err}"></li>
							</ul>
					</div>

					<div id="tag">
						<label for="inputDateFinEncheres" data-th-text="#{view-vente-article.label.dateFinEncheres}"></label> <input
							type="date" id="inputDateFinEncheres" name="dateFinEncheres"
							th:value="${articleAVendre.dateFinEncheres}" required/>
							<ul data-th-if="${#fields.hasErrors('dateFinEncheres')}" class="listErrors">
								<li th:each="err : ${#fields.errors('dateFinEncheres')}" th:text="${err}"></li>
							</ul>
					</div>
				</div>
			</div>

			<div>
				<label for="inputRetrait" data-th-text="#{view-vente-article.label.adresse}"></label>
				<select id="inputRetrait" data-th-field="*{adresseRetrait}" required>
						<option data-th-each="adresseRetrait : ${adressesRetrait}" data-th-selected="${!adresseRetrait.isAdresseEni}" th:value="${adresseRetrait.id}" th:text="${adresseRetrait.rue + ' ' + adresseRetrait.codePostal + ' ' + adresseRetrait.ville}"></option>
				
				</select>
				<ul data-th-if="${#fields.hasErrors('adresseRetrait')}" class="listErrors">
					<li th:each="err : ${#fields.errors('adresseRetrait')}" th:text="${err}"></li>
				</ul>
			</div>

			<div id="set">
                <button type="submit">Suivant</button>
                <a data-th-if="${modeModif}" data-th-href="@{/vente/annuler(id=*{id})}" class="btnPrimaire btnAnnuler">Annuler la vente</a>
                <button type="button">Annuler</button>
            </div>

             <ul data-th-if="${#fields.hasErrors('*')}" class="listErrors">
				<li data-th-text="#{view-vente-article.erreur_globale}"></li>
			</ul>
			
		</form>
		
	</main>
</body>

</html>