<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  data-th-replace="~{layouts/layout :: layout-enchere(
          titrePage=~{:: title},
          contenuPage=~{:: main},
          ressourceSupp=~{:: link})}">

<head>
	<title th:text="#{titre.ajoutImage}">Ajout Image</title>
	<link rel="stylesheet" href="/css/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div th:replace="fragements/fragement-entete :: mainNav"></div>

<main>
	<h1 th:text="#{titre.ajouterPhoto}">Ajouter une photo</h1>

	<!-- Preview OK, mais upload n'est pas encore fonctionnel -->

	<img src="/images/Placeholder.jpg" id="preview" alt="" />

	<form class="form" th:action="@{/ajouter-photo}" enctype="multipart/form-data" method="post">
		<label for="inputPhoto" th:text="#{label.photoArticle}">Photo de l'article: </label>
		<input type="file" id="inputPhoto" name="inputPhoto" accept="image/png, image/jpeg" />
		<input type="hidden" name="idArticle" th:value="${articleAVendre.id}" />
		<input type="submit" class="btnPrimaire" th:value="#{bouton.envoyer}" />
	</form>
</main>
</body>

</html>
