<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{titre.mesVentes}">Mes Ventes</title>
<link rel="stylesheet" href="/css/styleMesVente.css" />
<link rel="stylesheet" href="/css/styleFragement.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div th:replace="fragements/fragement-entete :: mainNav"></div>
	<div class="mes-ventes-page">
		<h1 class="titre-page" th:text="#{titre.mesVentes}">Mes Ventes</h1>
		<div class="table-container">
			<table class="table-ventes">
				<thead>
					<tr>
						<th th:text="#{table.nomArticle}">Nom de l'article</th>
						<th th:text="#{table.description}">Description</th>
						<th th:text="#{table.categorie}">Catégorie</th>
						<th th:text="#{table.dateDebut}">Date début enchères</th>
						<th th:text="#{table.dateFin}">Date fin enchères</th>
						<th th:text="#{table.prixDepart}">Prix de départ</th>
						<th th:text="#{table.prixVente}">Prix de vente</th>
						<th th:text="#{table.etatVente}">État de la vente</th>
						<th th:text="#{table.actions}">Actions</th>
					</tr>
				</thead>
		<tbody>
			<tr th:each="article : ${articles}">
				<td th:text="${article.nomArticle}">Nom Article</td>
				<td th:text="${article.description}">Description</td>
				<td th:text="${article.categorie.libelle}">Catégorie</td>
				<td
					th:text="${#temporals.format(article.dateDebutEncheres, 'dd/MM/yyyy HH:mm')}">Date
					début</td>
				<td
					th:text="${#temporals.format(article.dateFinEncheres, 'dd/MM/yyyy HH:mm')}">Date
					fin</td>
				<td th:text="${article.miseAPrix}">Prix départ</td>
				<td th:text="${article.prixVente}">Prix vente</td>
				<td th:text="${article.etatVente.label}">État</td>
				<td><a th:href="@{'/vente/modifier/' + ${article.idArticle}}"
					class="btnModifier">Modifier</a> <a
					th:href="@{'/vente/supprimer/' + ${article.idArticle}}"
				class="supprimer"
				th:onclick="'return confirm(\'' + #{confirmation.supprimerArticle} + '\');'"
				th:text="#{action.supprimer}">Supprimer</a></td>
			</tr>
		</tbody>
	</table>

</body>
</html>
